@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

body {
  background-color: #FEFFFC;
}

a{
  text-decoration: none;
}

.darkPage {
  background-color: #F5F6F0 ;
  height: 90vh;
  width: 100vw;
}

.nav {
  background-color: #F5F6F0 ;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  text-decoration: none !important;
  height: 10vh;
}


.roboto {
  font-family: Roboto;
}

.daysOne {
  font-family: Days One;
}

.itim {
  font-family: "Itim";
}
.arial-black {
    font-family: Arial Black;
    font-style: normal;
}
.navTitle{
    -webkit-text-stroke: 2px black;
    font-family: Arial Black;
    font-style: normal;
}

.blog-author-name {
  font-family: Roboto ;
  font-style: normal;
  font-weight: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;
  
}

.poppins {
  font-family: "Poppins";
}

.Poppins-Bold {
  font-style: bold;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
}

.Poppins-Medium {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu {
  position: fixed;
  z-index: 9;
  height: 90vh !important;
  width: 100vw;
  opacity: 0;
}

.menu-half {
  height: 90vh !important;
  width: 100%;
  padding: 5% 5% 2% 5%;
}

a.menu-link {
  font-family: Days One;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  line-height: 83px;
}


.home-background {
  background: url('../assets/png/backdesign.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh !important;
  z-index: 1;
}

.home-card {
  margin-top: 15vh;
  position:fixed;
  border-radius: 0% 0% 0% 0%;
  padding: 2% 2% 2% 2%;
}


.home-card-text {
  font-family: "Itim";
  margin-bottom: 10%;
}


.home-card-text-bottom {
  margin-top: 10%;
}

.truncate-2 {
  -webkit-line-clamp:2
}

@media only screen and (max-width: 800px ){
	.hidden-menu {
    display: none  !important;
  }
}

a:hover{
  text-decoration: none;
  color: white;
}